In [100]:
import pandas as pd

*******
1. Introduce Asthma Data
*******

In [101]:
asthma_vs = pd.read_excel('asthmaed.xlsx')

Extracting data from 2015

In [102]:
asthma_vs = asthma_vs[asthma_vs['Year'] == 2016]

Extracting data for all ages

In [103]:
asthma_vs = asthma_vs[asthma_vs['Age_Group'] == 'All Ages']
asthma_vs = asthma_vs.reset_index()

Extracting desired columns

In [104]:
zip_code = asthma_vs['ZIP']
rate_visits = asthma_vs['Age_Adjusted_Rate_of_Asthma_ED_V']
county = asthma_vs['County']

In [105]:
asthma_d = {'Zip Code':zip_code, 'Age Adjusted Rate of Visits':rate_visits, 'County':county}
asthma = pd.DataFrame(asthma_d)

Dataframe Containing Age Ajusted Rate of Asthma-related ED Visits For Each California Zip Code

Abstract Here: https://og-production-open-data-chelseama-892364687672.s3.amazonaws.com/resources/ef11aedd-b918-41e3-b049-a9377405b42a/asthma-ed-visits-by-zip-code.pdf?Signature=7JcfYVRoVdwxTLaU0xfgUiH5wEE%3D&Expires=1556318971&AWSAccessKeyId=AKIAJJIENTAPKHZMIPXQ

In [106]:
asthma.head()

   Zip Code  Age Adjusted Rate of Visits       County
0     90001                         63.5  Los Angeles
1     90002                         82.8  Los Angeles
2     90003                         95.9  Los Angeles
3     90004                         48.3  Los Angeles
4     90005                         36.1  Los Angeles

******
2. Introduce Air Quality Data
*******